# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '₦'
# Currency code used by payments (lowercase) e.g. 'ngn'
NEXT_PUBLIC_CURRENCY_CODE = 'ngn'
# App url used for redirect & webhook testing
NEXT_PUBLIC_APP_URL = 'http://localhost:3000'

# Instant DB (create a project at instantdb.com and get your app ID from the dashboard)
NEXT_PUBLIC_INSTANT_DB_APP_ID = "ab8b3cf6-93e9-45e9-a827-77e77a0d1110"

# Flutterwave Payment Gateway
FLUTTERWAVE_PUBLIC_KEY = "your_flutterwave_public_key"
FLUTTERWAVE_SECRET_KEY = "your_flutterwave_secret_key"
FLUTTERWAVE_ENCRYPTION_KEY = "your_flutterwave_encryption_key"
